*{
  margin: 5px;
  box-sizing: border-box;
}

.btn {
  width: 42%;
  height: 40px;
  margin: 0 2%;
  font-size: 16px;
}

#ulTasks .done {
  text-decoration: line-through;
  color: #6c757D;
}

li {
  overflow: auto;
  width: auto;
}

.tasks {
  overflow-x: auto;
  overflow-wrap: wrap;
  overflow-y: hidden;
}

i {
  font-size: 20px;
}
